<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="dist/css/font-awesome.min.css" />
    <link rel="stylesheet" href="dist/css/style.css" />
    <link rel="stylesheet" href="dist/css/dashboard.css" />
</head>
<body>
<div id="dashboard-anchor"></div>

<script type="application/javascript">
    let CONFIG = {{{CONFIG}}};
</script>
<script type="application/javascript" src="dist/dashboard.js"></script>
</body>
</html>
